body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DDE6ED; 
    color: #27374D; 
}

.navbar {
    background-color: #27374D;
    color: #fff;
    padding: 15px 30px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.navbar a {
    color: inherit;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease; 
}

.navbar a:hover {
    background-color: #526D82;
}

h1 {
    font-size: 2.5em; 
    color: #526D82; 
    margin-top: 1em;
    margin-bottom: 0.5em;
}

form {
    max-width: 600px;
    margin: 2em auto;
    padding: 2em;
    background: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(39, 55, 77, 0.2); 
}

input[type=text], button {
    width: calc(100% - 40px); 
    padding: 15px;
    margin-top: 0.5em;
    margin-bottom: 1em;
    border: 2px solid #9DB2BF;
    border-radius: 5px;
    color: #27374D;
}

button {
    background-color: #526D82; 
    color: #DDE6ED;
    border: none;
}

button:hover, button:focus {
    background-color: #27374D; 
}

h2 {
    font-size: 1.75em;
    color: #526D82;
    margin-top: 1em;
}

p {
    font-size: 1em;
    line-height: 1.8;
}


.output {
    background-color: #fff; 
    border: 1px solid #9DB2BF; 
    padding: 15px;
    margin-top: 15px; 
    border-radius: 5px; 
    color: #27374D; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


@media (max-width: 768px) {
    .navbar {
        padding: 10px 15px; 
        flex-direction: column; 
    }

    .navbar a {
        padding: 8px 10px;
    }

    h1 {
        font-size: 2em;
    }

    form, .output {
        width: 90%; 
        margin: 1em auto; 
        padding: 1em;
    }
}
