<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    {% include 'navbar.html' %}
    <div id = "heading">
    <h1> CORD-19 Dataset</h1>
    </div>
    <div id= "h2">
    <h2>About the Dataset</h2>
    </div>
    <p>Unravel the complexities of COVID-19 through the lens of global research. The CORD-19 dataset is a rich repository of scientific insights on the pandemic, designed to foster innovation and inform the path forward.</p>
  </body>
</html>